.hero-section{
    background-color: var(--primary-color);
    padding: var(--spacing-lg);
}

.hero-content{
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.hero-text{
    color: var(--light-color);
}
.hero-text > h1{
    color: var(--secondary-color);
}
.hero-image{
    max-width: 400px;
    max-height: 500px;
    height: auto;
    overflow: hidden;
    border-radius: var(--border-radius);
}
.hero-image > img {
    width: 100%;
    
}