.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

nav > ul > li:hover{
    cursor: pointer;
}

