:root{
    --primary-color: #495E57;
    --secondary-color: #F4CE14;
    --accent-color: #EDEFEE;
    --text-color: #333;
    --light-color: #ffffff;
    --dark-color: #333333;


    /*Spacing*/
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;

    /*Radius*/
    --border-radius: 16px;

    /*Max-width*/
    --max-width: 900px;
}

